body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: radial-gradient(circle at center, 
    #2c2c2c 0%, 
    #1a1a1a 70%,  
    #000000 100%);
}

.container {
    width: 350px;
    background: #fff;
    border-radius: 12px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.25);
    overflow: hidden;
}

.tabs {
    display: flex;
    justify-content: space-around;
    background: #222;
}

.tabs button {
    flex: 1;
    padding: 14px;
    text-align: center;
    color: #aaa;
    cursor: pointer;
    font-weight: bold;
    border: none;
    background: none;
    transition: 0.3s;
}

.tabs button.active {
    color: #fff;
    background: #444;
}

.form-wrapper {
    padding: 20px;
    position: relative;
    height: 270px;
}

form {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    transition: opacity 0.4s, transform 0.4s;
    opacity: 0;
    pointer-events: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 100%;
}

form.active {
    opacity: 1;
    pointer-events: auto;
    transform: translateX(0);
}

form input {
    width: 80%;
    padding: 12px;
    border: 1px solid #ddd;
    border-radius: 6px;
    width: 90%;
    margin: 10px;
}

form button {
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 6px;
    background: blue;
    color: white;
    font-weight: bold;
    margin-top: 10px;
    width: 90%;
    margin: 10px;
}

form button:hover {
    background: blue;
}

.cabin {
  font-family: "Cabin", sans-serif;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

.label {
    font-family: "Cabin", sans-serif;
    margin-bottom: 0;
    align-self: flex-start;
    margin-left: 10px;
}