/* Fonts */

h1.zen-tokyo-zoo-regular {
    font-family: 'Zen Tokyo Zoo', cursive, sans-serif;
    font-size: 100px;
    margin-bottom: 8px;
    text-align: center;
    letter-spacing: 10px;
    font-weight: lighter;
    text-shadow: 0 2px 8px rgba(0, 0, 0, 1);
    margin-top: 20px;
}

.cabin {
  font-family: "Cabin", sans-serif;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

/* Page Elements */

body {
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    background: radial-gradient(circle at center, #2c2c2c 0%, #1a1a1a 70%, #000 100%);
    background-size: 100% auto;
    color: white;
}


.lose {
    background-image: radial-gradient(circle at center, 
    #2f1010 0%, 
    #180606 70%,  
    #000000 100%  );

}

.reset-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-layout {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 60px;
    max-width: 1200px;
    width: 100%;
}

.win-popup {
    display: none;
    position: fixed;
    z-index: 11;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
}

.win-popup-content {
    color: black;
    font-weight: bold;
    margin: 15% auto;
    padding: 20px;
    border-radius: 12px;
    width: 200px;
    text-align: center;
    font-size: 24px;
    background-image: radial-gradient(gold 30%, goldenrod);
}

.win-popup-button {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    background-color: rgb(175, 1, 1);
    cursor: pointer;
    display: inline-block;
}

.close-popup {
    color: rgb(255, 255, 255);
    font-weight: bold;
    text-align: center;
}

.wallet-amount {
    font-size: 30px;
    font-weight: bold;
    text-align: center;
}

@keyframes shake {
    0% { transform: translateX(-50%) translateX(0); }
    20% { transform: translateX(-50%) translateX(-10px); }
    40% { transform: translateX(-50%) translateX(10px); }
    60% { transform: translateX(-50%) translateX(-10px); }
    80% { transform: translateX(-50%) translateX(10px); }
    100% { transform: translateX(-50%) translateX(0); }
}

.error-message {
    display: none;
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    background: rgba(200, 0, 0, 0.85);
    color: white;
    padding: 8px 24px;
    border-radius: 0 0 8px 8px;
    font-size: 18px;
    font-weight: bold;
    box-shadow: 0 2px 8px rgba(0,0,0,0.2);
    pointer-events: none;
}

#error-message.shake {
    animation: shake 0.5s ease-in-out;
}

/* Roulette Wheel Elements */

.pointer {
    position: absolute;
    top: -10px;
    left: 50%;
    transform: translateX(-50%) rotate(180deg);
    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 30px solid rgb(0, 0, 0);
    z-index: 10;
}

.wheel-container {
    width: 370px;
    height: 370px;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
    background: #222;
    box-shadow: 0 0 20px rgba(0,0,0,0.7);
}

.wheel-border {
    width: 420px;
    height: 420px;
    border-radius: 50%;
    margin: 0;
    position: relative;
    background: radial-gradient(circle, gold 0%, gold 66%, goldenrod 69%, #2e2000 100% );
    display: flex;
    align-items: center;
    justify-content: center;
}

.outer-bands {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    position: absolute;
    background: conic-gradient(
        darkgreen 0deg 9.73deg,
        darkred 9.73deg 19.46deg,
        black 19.46deg 29.19deg,
        darkred 29.19deg 38.92deg,
        black 38.92deg 48.65deg,
        darkred 48.65deg 58.38deg,
        black 58.38deg 68.11deg,
        darkred 68.11deg 77.84deg,
        black 77.84deg 87.57deg,
        darkred 87.57deg 97.3deg,
        black 97.3deg 107.03deg,
        darkred 107.03deg 116.76deg,
        black 116.76deg 126.49deg,
        darkred 126.49deg 136.22deg,
        black 136.22deg 145.95deg,
        darkred 145.95deg 155.68deg,
        black 155.68deg 165.41deg,
        darkred 165.41deg 175.14deg,
        black 175.14deg 184.87deg,
        darkred 184.87deg 194.6deg,
        black 194.6deg 204.33deg,
        darkred 204.33deg 214.06deg,
        black 214.06deg 223.79deg,
        darkred 223.79deg 233.52deg,
        black 233.52deg 243.25deg,
        darkred 243.25deg 252.98deg,
        black 252.98deg 262.71deg,
        darkred 262.71deg 272.44deg,
        black 272.44deg 282.17deg,
        darkred 282.17deg 291.9deg,
        black 291.9deg 301.63deg,
        darkred 301.63deg 311.36deg,
        black 311.36deg 321.09deg,
        darkred 321.09deg 330.82deg,
        black 330.82deg 340.55deg,
        darkred 340.55deg 350.28deg,
        black 350.28deg 360deg
    );
    transition: transform 5.5s cubic-bezier(0.1, 0.2, 0.1, 0.9);
}

.inner-circle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 66%;
    height: 66%;
    border-radius: 50%;
    background: radial-gradient(circle, gold 0%, gold 5%, rgb(180, 137, 28) 15%, sienna 15%, sienna 66%, rgb(60, 24, 7) 73%);
    z-index: 9;
}

.ball-divider {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 85%;
    height: 85%;
    border-radius: 50%;
    background: radial-gradient(circle, transparent 69%, goldenrod 69%);
    z-index: 5;
}

.numbers {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    top: 0;
    left: 0;
    pointer-events: none;
    transform: rotate(355deg);
}

.numbers span {
    position:  absolute;
    left: 46%;
    top: 47.5%;
    display: block;
    width: 28px;
    height: 18px;
    line-height: 18px;
    font-size: 16px;
    font-weight: bold;
    color: white;
    text-align: center;
}

/* Betting Grid Elements */

.chip-stack {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 8px;
}

.chip-label {
    margin-top: 4px;
    color: white;
    font-size: 16px;
    font-weight: bold;
}



.bet-heading {
    font-size: 24px;
    color: white;
    margin-bottom: 10px;
    margin-top: 0;
}

.bet-description {
    font-size: 14px;
    color: white;
    margin-bottom: 20px;
}

.ui-section {
    flex: 1;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 700px;
}

.betting-numbers {
    display: grid;
    grid-template-columns: repeat(12, 50px);
    grid-template-rows: repeat(3, 50px);
}

.bet-button,
.side-button,
.extra-button,
.zero-button {
    color: white;
    font-size: 14px;
    font-weight: bold;
    position: relative;
    min-width: 50px;
    min-height: 50px;
    align-items: center;
    justify-content: center;
    display: block;
    text-align: center;
}

.zero-button {
    width: 50px;
    height: 150px;
    background-image: radial-gradient(#005000 20%, #004c00 100%);
    border: 2px solid goldenrod;
    position: relative;
}

.side-button, .extra-button {
    background-image: radial-gradient(#005000 20%, #004c00 100%);
    border: 2px solid goldenrod;
}

.betting-dozens {
    align-items: center;
    justify-content: center;
    display: grid;
    grid-template-columns: repeat(3, 200px);
    height: 50px;
}

.betting-bottom {
    position: relative;
    align-items: center;
    justify-content: center;
    display: grid;
    grid-template-columns: repeat(6, 100px);
    height: 50px;
}

.betting-col {
    display: grid;
    grid-template-rows: repeat(3, 50px);
}

.betting-grid {
    display: flex;
    justify-content: center;
    align-items: center;
}

.red {
    background: darkred;
}

.black {
    background: black;
}

.bet-button {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    cursor: pointer;
    border: 2px solid goldenrod;
}

.action-button {
    margin: 20px;
    background-image: radial-gradient(gold 30%, goldenrod);
    height: 50px;
    width: 200px;
    font-size: 24px;
    font-weight: bold;;
}

.chips {
    margin-top: 25px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
}

.two-chip,
.five-chip,
.ten-chip,
.twenty-chip,
.fifty-chip,
.chip-on-board {
    position: relative;
    box-shadow: 0 2px 6px rgba(0,0,0,0.5);
    display: inline-block;
    z-index: 1;
    overflow: visible;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: none;
    margin: 5px;
    cursor: grab;
}


.two-chip:hover,
.five-chip:hover,
.ten-chip:hover,
.twenty-chip:hover,
.fifty-chip:hover {
    transform: scale(1.15);
    z-index: 2;
    position: relative;
}

.two-chip      { background: #9C2007; }
.five-chip     { background: #003366; } 
.ten-chip      { background: #3d003d; } 
.twenty-chip   { background: #b27300; } 
.fifty-chip    { background: #000000; color: white; } 

.two-chip::after,
.five-chip::after,
.ten-chip::after,
.twenty-chip::after,
.fifty-chip::after,
.chip-on-board::after {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 50%;
    background: conic-gradient(
        white 0deg 15deg, transparent 15deg 30deg,
        white 30deg 45deg, transparent 45deg 60deg,
        white 60deg 75deg, transparent 75deg 90deg,
        white 90deg 105deg, transparent 105deg 120deg,
        white 120deg 135deg, transparent 135deg 150deg,
        white 150deg 165deg, transparent 165deg 180deg,
        white 180deg 195deg, transparent 195deg 210deg,
        white 210deg 225deg, transparent 225deg 240deg,
        white 240deg 255deg, transparent 255deg 270deg,
        white 270deg 285deg, transparent 285deg 300deg,
        white 300deg 315deg, transparent 315deg 330deg,
        white 330deg 345deg, transparent 345deg 360deg

    );

    mask-image: radial-gradient(circle, transparent 50%, black 50%, black 100%);
    mask-repeat: no-repeat;
    mask-position: center;
    mask-size: cover;
    pointer-events: none;
}

.chip-on-board {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 14px;
    pointer-events: auto;
    margin: 0;
}