<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login / Sign Up</title>
    <link href="{{ url_for('static', filename='styles.css') }}" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&display=swap" rel="stylesheet">
</head>
<body>
    <div class="container">
        <form action="/login" method="POST" id="login-form" class="active">
            <p class="label cabin">Enter Username</p>
            <input class="input" type="text" placeholder="Username" name="username" required>
            <p class="label cabin">Enter Password</p>
            <input class="input" type="password" placeholder="Password" name="password" required>
            <button type="submit">Login</button>
        </form>
    </div>
</body>
</html>